name: Publish

on:
  push:
    tags:
      - 'v*.*.*'
permissions:
  contents: write
env:
  CARGO_TERM_COLOR: always
jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.version.outputs.VERSION }}
    steps:
      - uses: actions/checkout@v6
      - name: Get Version
        id: version
        run: echo "VERSION=${GITHUB_REF_NAME:1}" >> $GITHUB_OUTPUT
  publish:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      # - name: Check semver
      #   uses: obi1kenobi/cargo-semver-checks-action@v2
      - name: cargo login
        run: cargo login ${{ secrets.CRATES_IO_API_TOKEN }}
      - name: cargo publich
        run: .github/workflows/publish.sh ${{ needs.prepare.outputs.VERSION }}