name: Publish

on:
  push:
    tags:
      - 'v*.*.*'
permissions:
  contents: write
env:
  CARGO_TERM_COLOR: always
  RUST_VERSION: "1.82.0"
jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.version.outputs.VERSION }}
    steps:
      - uses: actions/checkout@v4
      - name: Get Version
        id: version
        run: echo "VERSION=${GITHUB_REF_NAME:1}" >> $GITHUB_OUTPUT
  publish:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ env.RUST_VERSION }}
      - name: cargo login
        run: cargo login ${{ secrets.CRATES_IO_API_TOKEN }}
      - name: cargo publich
        run: .github/workflows/publish.sh ${{ needs.prepare.outputs.VERSION }}